<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/183b312a89.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <div class="logo">
                <img src="/images/logo-mercado-liebre.svg">
            </div>
            <div class="search-bar">
                <input type="text" placeholder=" Buscar productos,  marcas">
                <div class="div_i_lupa">
                    <i class="fa fa-search"></i>
                </div>
            </div>
            <div class="copy-header">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Compra en cuotas y sin tarjeta de credito
            </div>
        </div>
        <a href="" class="hamburguer-button">
            <i class="fa-solid fa-bars"></i>
        </a>

        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="/ayuda">Ayuda</a></li>
                <li><a href="/ofertas">Ofertas</a></li>
                <li><a href="/tiendasOficiales">Tiendas oficiales</a></li>
                <li><a href="/vender">Vender</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="/register">Crea tu cuenta <i class="fa-solid fa-id-card"></i></a></li>
                <li><a href="/login">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="/misCompras">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
        <div class="main-banner">
            <img src="/images/img-home-banner.jpg" class="banner">
        </div>
    </header>
    <main class="main">
        <div class="titulares">
            <h3>Basado en tu ultima visita</h3>
        </div>
        <section class="section_basado_en_tu_ultima_visita">

            <article class="articles">
                <div class="div_img_articles">
                    <img class="img_articles" src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
                </div>
                <div class="div_article_description">
                    <div class="truck">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="preciosYdescuentos">
                        <p class="precios">
                            $6.770
                        </p>
                        <p class="descuentos">
                            40% Off
                        </p>
                    </div>
                    <h4 class="nombreDeProducto">
                        Cafetera Moulinex
                    </h4>
                </div>

            </article>
            <article class="articles">
                <img class="img_articles" src="/images/img-macbook-pro-2019.jpg" alt="mac">
                <div class="div_article_description">
                    <div class="truck">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="preciosYdescuentos">
                        <p class="precios">
                            $230.000
                        </p>
                        <p class="descuentos">
                            20% Off
                        </p>
                    </div>
                    <h4 class="nombreDeProducto">Macbook Pro 2019
                    </h4>
                </div>
            </article>
            <article class="articles">
                <img class="img_articles" src="/images/img-samsung-galaxy-s10.jpg" alt="sg">
                <div class="div_article_description">
                    <div class="truck">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="preciosYdescuentos">
                        <p class="precios">
                            $70.500
                        </p>
                        <p class="descuentos">
                            10% Off
                        </p>
                    </div>
                    <h4 class="nombreDeProducto">Samsung Galaxy S10
                    </h4>
                </div>
            </article>
            <article class="articles">
                <img class="img_articles" src="/images/img-tv-samsung-smart.jpg" alt="smart">
                <div class="div_article_description">
                    <div class="truck">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="preciosYdescuentos">
                        <p class="precios">
                            $23.200
                        </p>
                        <p class="descuentos">
                            5% Off
                        </p>
                    </div>
                    <h4 class="nombreDeProducto">SmartTv Samsung 43"</p>
                </div>
            </article>
        </section>
        <div class="titulares">
            <h3>Ofertas</h3>
        </div>
        <section class="section_ofertas">
            <article class="articles">
                <img class="img_articles" src="/images/img-cafetera-moulinex.jpg" alt="cafe">
                <div class="div_article_description">
                    <div class="truck">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="preciosYdescuentos">
                        <p class="precios">
                            $6.770
                        </p>
                        <p class="descuentos">
                            40% Off
                        </p>
                    </div>
                    <h4 class="nombreDeProducto">Cafetera Moulinex</h4>
                </div>
            </article>
            <article class="articles">
                <img class="img_articles" src="/images/img-macbook-pro-2019.jpg" alt="mac">
                <div class="div_article_description">

                    <div class="truck">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="preciosYdescuentos">
                        <p class="precios">
                            $230.000
                        </p>
                        <p class="descuentos">
                            20% Off
                        </p>
                    </div>
                    <h4 class="nombreDeProducto">MacBook Pro 2019</h4>
                </div>
            </article>
            <article class="articles">
                <img class="img_articles" src="/images/img-samsung-galaxy-s10.jpg" alt="sg">
                <div class="div_article_description">

                    <div class="truck">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="preciosYdescuentos">
                        <p class="precios">
                            $70.500
                        </p>
                        <p class="descuentos">
                            10% Off
                        </p>
                    </div>
                    <h4 class="nombreDeProducto">Samsung Galaxy S10</h4>
                </div>
            </article>
            <article class="articles">
                <img class="img_articles" src="/images/img-tv-samsung-smart.jpg" alt="smart">
                <div class="div_article_description">
                    <div class="truck">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <div class="preciosYdescuentos">
                        <p class="precios">
                            $23.200
                        </p>
                        <p class="descuentos">
                            5% Off
                        </p>
                    </div>
                    <h4 class="nombreDeProducto">SmartTV Samsung 43"</h4>
                </div>
            </article>
        </section>
    </main>
    <footer class="footer">
        <div class="all_footer">

            <div class="item_footer">
                <div class="div_item_footer_i">
                    <i class="fa-solid fa-credit-card"></i>
                </div>
                <h2>
                    Paga con tarjeta o en efectivo
                </h2>
                <p>
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!
                </p>
            </div>
            <div class="item_footer">
                <div class="div_item_footer_i">
                    <i class="fa-solid fa-gift"></i>
                </div>
                <h2>
                    Envios gratis desde los $2.500
                </h2>
                <p>
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.
                </p>
            </div>
            <div class="item_footer">
                <div class="div_item_footer_i">
                    <i class="fa-solid fa-user-shield"></i>
                </div>
                <h2>
                    Seguridad, de principio a fin
                </h2>
                <p>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.
                </p>
            </div>
        </div>
        <div class="Copyright">
            Copyright © 1999-2020 MercadoLiebre S.R.L.
            </p>
        </div>
    </footer>
</body>

</html>