<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <header class="header">
        <div>
            <img class="header-logo" src="/images/logo-mercado-liebre.svg" alt="img-home-banner">
        </div>
        <div class="container">
            <input type="text" placeholder="buscar">
            <i class="fa fa-search"></i>
        </div>
        <div>
            <a><img class="compraencuotas" width="25" height="14" src="/images/hand-holding-dollar-solid.svg">Compra en
                cuotas y sin tarjeta de
                credito</a>
        </div>
        <nav class="nav">
            <ul>
                <li><a href="/ayuda">AYUDA</a></li>
                <li><a href="/ofertas">OFERTAS</a></li>
                <li><a href="/tiendasOficiales">TIENDAS OFICIALES</a></li>
                <li><a href="/vender">VENDER</a></li>
            </ul>
            <ul>
                <li><a href="/creaTuCuenta">CREA TU CUENTA</a><img width="25" height="14"
                        src="/images/id-card-regular.svg"></li>
                <li><a href="/ingresa">INGRESA</a><img width="25" height="14" src="/images/right-to-bracket-solid.svg">
                </li>
                <li><a href="/misCompras">MIS COMPRAS</a><img width="25" height="14"
                        src="/images/basket-shopping-solid.svg"></li>
            </ul>
        </nav>
        <div>
            <article class="a_menu-bar">
                <a class="menu-bar" href=""><i class="fa fa-bars"></i></a>
        </div>
        </article>
        <img class="home-banner" src="/images/img-home-banner.jpg" alt="banner">
    </header>
    <div>
        <p class="titulares">Basado en tu ultima visita</p>
    </div>
    <main class="main">
        <div class="cajaProducto"></div>
        <article class="articles">
            <img class="img_articles" src="/images/img-cafetera-moulinex.jpg" alt="cafetera">
            <div class="truck">
                <img src="/images/truck-solid.svg" alt="truck">
            </div>
            <p class="precios">
                $6.770
            </p>
            <p class="descuentos">
                40% Off
            </p>
            <h2 class="nombreDeProducto">
                Cafetera Moulinex
            </h2>
            </div>
        </article>
        <article class="articles">
            <img class="img_articles" src="/images/img-macbook-pro-2019.jpg" alt="mac">
            <div class="truck">
                <img src="/images/truck-solid.svg" alt="truck">
            </div>
            <p class="precios">
                $230.000
            </p>
            <p class="descuentos">
                20% Off
            </p>
            <h2 class="nombreDeProducto">Macbook Pro 2019
            </h2>
        </article>
        <article class="articles">
            <img class="img_articles" src="/images/img-samsung-galaxy-s10.jpg" alt="sg">
            <div class="truck">
                <img src="/images/truck-solid.svg" alt="truck">
            </div>
            <p class="precios">
                $70.500
            </p>
            <p class="descuentos">
                10% Off
            </p>
            <h2 class="nombreDeProducto">Samsung Galaxy S10
            </h2>
        </article>
        <article class="articles">
            <img class="img_articles" src="/images/img-tv-samsung-smart.jpg" alt="smart">
            <div class="truck">
                <img src="/images/truck-solid.svg" alt="truck">
            </div>
            <p class="precios">
                $23.200
            </p>
            <p class="descuentos">
                5% Off
            </p>
            <h2 class="nombreDeProducto">SmartTv Samsung 43"</h2>
        </article>
        <h1 class="titulares">
            Ofertas
        </h1>
        <article class="articles">
            <img class="img_articles" src="/images/img-cafetera-moulinex.jpg" alt="cafe">
            <div class="truck">
                <img src="/images/truck-solid.svg" alt="truck">
            </div>
            <ul>
                <p class="precios">
                    $6.770
                </p>
                <p class="descuentos">
                    40% Off
                </p>
            </ul>
            <h2 class="nombreDeProducto">Cafetera Moulinex</h2>
        </article>
        <article class="articles">
            <img class="img_articles" src="/images/img-macbook-pro-2019.jpg" alt="mac">
            <div class="truck">
                <img src="/images/truck-solid.svg" alt="truck">
            </div>
            <ul>
                <p class="precios">
                    $230.000
                </p>
                <p class="descuentos">
                    20% Off
                </p>
            </ul>
            <h2 class="nombreDeProducto">MacBook Pro 2019</h2>
        </article>
        <article class="articles">
            <img class="img_articles" src="/images/img-samsung-galaxy-s10.jpg" alt="sg">
            <div class="truck">
                <img src="/images/truck-solid.svg" alt="truck">
            </div>
            <ul>
                <p class="precios">
                    $70.500
                </p>
                <p class="descuentos">
                    10% Off
                </p>
            </ul>
            <h2 class="nombreDeProducto">Samsung Galaxy S10</h2>
        </article>
        <article class="articles">
            <img class="img_articles" src="/images/img-tv-samsung-smart.jpg" alt="smart">
            <div class="truck">
                <img src="/images/truck-solid.svg" alt="truck">
            </div>
            <ul>
                <p class="precios">
                    $23.200
                </p>
                <p>
                    5% Off
                </p>
            </ul>
            <h2 class="nombreDeProducto">SmartTV Samsung 43"</h2>
        </article>
    </main>
    <footer class="footer">
        <div class="boxFooter">
            <img src="/images/credit-card-solid.svg">
            <h2>
                Paga con tarjeta o en efectivo
            </h2>
            <p>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
            </p>
            <img src="/images/gift-solid.svg">
            <h2>
                Envios gratis desde los $2.500
            </h2>
            <p>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
            </p>
            <img src="/images/user-shield-solid.svg">
            <h2>
                Seguridad, de principio a fin
            </h2>
            <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.
            </p>

        </div>
        <p class="Copyright">
            Copyright © 1999-2020 MercadoLiebre S.R.L.
        </p>
    </footer>
</body>
</html>