<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/183b312a89.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <div class="logo">
                <img src="/images/logo-mercado-liebre.svg">
            </div>
            <div class="search-bar">
                <input type="text" placeholder=" Buscar productos,  marcas">
                <div class="div_i_lupa">
                    <i class="fa fa-search"></i>
                </div>
            </div>
            <div class="copy-header">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Compra en cuotas y sin tarjeta de credito
            </div>
        </div>
        <a href="" class="hamburguer-button">
            <i class="fa-solid fa-bars"></i>
        </a>

        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="/ayuda">Ayuda</a></li>
                <li><a href="/ofertas">Ofertas</a></li>
                <li><a href="/tiendasOficiales">Tiendas oficiales</a></li>
                <li><a href="/vender">Vender</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="/creaTuCuenta">Crea tu cuenta <i class="fa-solid fa-id-card"></i></a></li>
                <li><a href="/login">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="/misCompras">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
        <div class="main-banner">
            <img src="/images/img-home-banner.jpg" class="banner">
        </div>
    </header>
    <main class="main_register">
        <div class="div_all_form">
            <form action="/registro" method="POST" class="all_form">
                <div class="div_text">
                    <input type="text" name="nombreYapellido" placeholder=" Nombre y apellido">
                </div>
                <div class="div_text">
                    <input type="text" name="usuario" placeholder=" Nombre de usuario">
                </div>
                <div class="div_text">
                    <input type="email" name="email" placeholder=" Email">
                </div>
                <div class="tittle_fecha">
                    <h4>Fecha de nacimiento</h4>
                </div>
                <div class="div_fecha">
                    <input type="date" name="fecha">
                </div>
                <div class="div_text">
                    <input type="text" name="domicilio" placeholder=" Domicilio">
                </div>
                <div class="tittle_pdu">
                    <h4>Perfil del usuario</h4>
                </div>
                <div class="div_control_cyv">
                    <div class="comprador">
                        <p>
                            <input type="radio"> Comprador
                        </p>
                    </div>
                    <div class="vendedor">
                        <p>
                            <input type="radio"> Vendedor
                        </p>
                    </div>
                </div>
                <div class="tittle_intereses">
                    <h4>Intereses</h4>
                </div>
                <div class="div_all_intereses">
                    <div class="div_item_intereses">
                        <p>
                        <input type="checkbox"> Electro
                        </p>
                    </div>
                    <div class="div_item_intereses">
                        <p>
                        <input type="checkbox"> Moda
                        </p>
                    </div>
                    <div class="div_item_intereses">
                        <p>
                        <input type="checkbox"> Hogar
                        </p>
                    </div>
                    <div class="div_item_intereses">
                        <p>
                        <input type="checkbox"> Jugueteria
                        </p>
                    </div>
                    <div class="div_item_intereses">
                        <p>
                        <input type="checkbox"> Vida Sana
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </main>
    <footer class="footer">
        <i class="fa-solid fa-credit-card">

        </i>
        <h2>
            Paga con tarjeta o en efectivo
        </h2>
        <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!
        </p>
        <i class="fa-solid fa-gift">

        </i>
        <h2>
            Envios gratis desde los $2.500
        </h2>
        <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.
        </p>
        <i class="fa-solid fa-user-shield"></i>
        <h2>
            Seguridad, de principio a fin
        </h2>
        <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.
        </p>
        </div>
        <div class="Copyright">
            Copyright © 1999-2020 MercadoLiebre S.R.L.
            </p>
    </footer>
</body>

</html>